/* Align the go home button to the bottom of frontPage */
.error-page-home-button {
    position: absolute;
    left: 0;
    bottom: 1em;
    width: 100%;
}

/* Set color of go home button */
#error-page-home {
    color: var(--base-fg);
}