/* Global background color */
:root {
    --base-bg: 253, 246, 227;  /* everforest light medium bg0 */
    --sec-bg: 239, 235, 212;  /* everforest light medium bg_dim */
    --dark-bg: 45, 53, 59;  /* everforest dark medium bg0 */
    --base-fg: 92, 106, 114;  /* everforest light medium fg */
    --dark-fg: 211, 198, 170;  /* everforest dark medium fg */
    --url: 141, 161, 1;  /* everforest light medium green */

    /* Alternate color scheme */
    /*--base-bg: #eff1f5;*/  /* catppuccin latte base */
    /*--sec-bg: #dce0e8;*/  /* catppuccin latte crust */
    /*--dark-bg: #1e2030;*/ /* catppuccin macchiato mantle */
    /*--base-fg: #4c4f69;*/  /* catppuccin latte text */ 
    /*--dark-fg: #cad3f5;*/  /* catppuccin macchiato text */
    /*--url: #40a02b;*/ /* catppuccin latte green */

    /* Shadow */
            /* inner glow 👇 */
    --shadow: inset 0 0 0.5px 1px hsla(0, 0%,  
            100%, 0.075),
            /* shadow ring 👇 */
            0 0 0 1px hsla(0, 0%, 0%, 0.05),
            /* multiple soft shadows 👇 */
            0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
            0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
            0 3.5px 6px hsla(0, 0%, 0%, 0.09);
    
    --border: inset 0px 0px 0px 2px rgb(var(--url));
    
    /* Opacity values */
    --body-opacity: 0.85;
    --body-blur: 16px;
}

/* Enable smooth scrolling */
html {
    scroll-behavior: smooth;
    scrollbar-color: rgb(var(--url)) transparent;
}

/* Apply background color to all pages */
body {
    background-color: rgb(var(--base-bg));
    margin: 0;
    padding: 0;
    animation: fade-in 0.7s;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Animate theme changes */
body {
    transition: 200ms;
}

/* Set font for headings */
h1, h2, h3 {
    font-family: "Libre Baskerville", "Noto Color Emoji", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(var(--base-fg))
}

/* Set font for body text */
p, a, ul, dl, select {
    font-family: Inter, "Noto Color Emoji", sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
    color: rgb(var(--base-fg))
}
@supports (font-variation-settings: normal) {
    p, a, ul, dl, select { font-family: InterVariable, "Noto Color Emoji", sans-serif; }
}

/* Set font for buttons */
button {
    font-family: Inter, "Noto Emoji", sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
    font-size: 1em;
    text-decoration: none;
    padding: 0.75em 1.5em;
    box-sizing: border-box;
    border-radius: 4px;
    transition: 200ms;
}
@supports (font-variation-settings: normal) {
    button { font-family: InterVariable, "Noto Emoji", sans-serif; }
}

/* Set link text color */
a {
    color: rgb(var(--url))
}

/* Set list line height */
li {
    margin-bottom: 1em;
}

/* Send all doodles to back by default */
css-doodle {
    position: fixed;
    z-index: -1;
    animation: fade-in-doodle 2s;
}
@keyframes fade-in-doodle {
    0% {
        opacity: 0;
    }
    35% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}