/* Style footer */
.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    box-sizing: border-box;
    width: 100vw;
    max-width: 100%;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0;
    background-color: rgb(var(--dark-bg));
}

/* Disable underlining in footer buttons */
.footer-buttons > a {
    color: inherit;
    text-decoration: none;
}

/* Align everything in footer to center */
.footer > * {
    align-self: center;
}

/* Align text to the left, icons to the right */
.footer > p {
    text-align: left;
    color: rgb(var(--dark-fg));
}

/* Set color of footer icons */
#footer-github, #footer-email {
    transition: 200ms;
    color: rgb(var(--dark-fg));
}
#footer-github:hover, #footer-email:hover {
    filter: brightness(0.9);
}
#footer-github:active, #footer-email:active {
    filter: brightness(0.8);
}

/* Set layout of footer buttons */
.footer-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    column-gap: 1em;
}