/*  Make frontPage occupy whole screen
    and align contents to the center */
.front-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Set front page emoji size */
.front-page > h1 {
    font-size: 4em;
    line-height: 0;
}

/* Move front page links to top right */
.front-page > .front-page-link {
    position: absolute;
    right: 1em;
    top: 1em;
    text-decoration: none;
}

/* Align the scroll down prompt to the bottom of frontPage */
.front-page > .front-page-scroll-prompt {
    position: absolute;
    left: 0;
    bottom: 1em;
    width: 100%;
}

/* Set color of the scroll down prompt arrow */
#front-page-down-arrow {
    color: var(--base-fg);
}

/* Limit intro paragraph width and center it */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 1em 0 1em 0;
    text-align: center;
    background-color: var(--sec-bg)
}

.intro > h2, .intro > p {
    max-width: 75%
}

/* Make about occupy whole screen
    and align contents to the center */
.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    width: 100vw;
    max-width: 100%;
    padding: 2em 0 2em 0;
}

/* Limit education and skills list width */
.about > .about-edu, .about > .about-skills {
    width: 45vw;
    /* min-width: 20em; */
    max-width: 45%;
    text-align: left;
    box-sizing: border-box;
    padding: 0 4em 0 4em;
}

/* Display education and skills vertically on mobile */
@media (max-width: 900px) {
    .about {
        flex-direction: column;
        align-items: center;
    }
    .about > .about-edu, .about > .about-skills {
        width: 75vw;
        max-width: 75%;
        padding: 0;
    }
}